.new-game-form {
    display: flex;
    flex-direction: column;
}

.back {
    display: flex;
    flex-direction: column;

    position: relative;

    button {
        padding: 0.5rem;
        background-color: #929292;
    }
}
