@import '../../../UI/colours.module.scss';

.score-table {
    color: $list-font-colour;
    width: 100%;

    border-radius: 0 0 0.3rem 0.3rem;
    border-collapse: collapse;
    overflow: hidden;

    // ROWS
    tr {
        // Odds and Even BG Color Swap
        background-color: $list-light-bg-row;
        &:nth-of-type(odd) {
            background-color: $list-dark-bg-row;
        }
        // Header BG
        &.table-header {
            background-color: $list-white-bg;
            color: $primary-btn;
            font-size: 0.9rem;
        }
    }

    // CELLS
    th {
        font-weight: 100;
        padding: 0.5rem;
        &:first-child {
            text-align: left;
        }
    }

    // NUMBER INPUTS
    input {
        margin: 0;
        padding: 0;

        width: 2rem;
        height: 2rem;
        outline: none;
        border: none;
        border-radius: 0.2rem;

        text-align: center;
    }

    // SUBMIT BUTTON
    button {
        width: 2rem;
        height: 2rem;
        outline: none;
        border: none;

        text-align: center;
        font-size: 1.2rem;
        color: $text-font-colour;
        background-color: $primary-btn;
        border-radius: 0.2rem;
        border: 1px solid $primary-btn-light;
    }

    /* ------------------- HIDE NUMBER INPUT ARROW -------------------- */

    /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    /* Firefox */
    input[type='number'] {
        -moz-appearance: textfield;
    }
}
