@import '../UI/colours.module.scss';

.header {
    grid-area: header;

    display: flex;
    align-items: center;
    margin-bottom: 2rem;

    h1 {
        color: $header-text;
    }

    img {
        width: 30vw;
    }
}

.menu {
    color: $text;
    list-style: none;
    width: 100%;
    display: flex;
    justify-content: space-around;

    button {
        padding: 0.8rem;
        font-size: 1rem;
        width: 45%;
    }
}
