@import '../UI/colours.module.scss';

.header {
    grid-area: header;

    display: flex;
    align-items: flex-start;
    margin-bottom: 2rem;

    h1 {
        color: $header-title-font-colour;
        font-size: clamp(2rem, 8vw, 8.2rem);
    }

    img {
        width: clamp(120px, 30vw, 300px);
    }
}

.menu {
    color: $text-font-colour;
    list-style: none;
    width: 100%;
    display: flex;
    justify-content: space-around;
    text-align: center;

    button {
        padding: 0.8rem;
        font-size: 1rem;
        width: 45%;
    }
}
