.login,
.login-form {
    display: flex;
    flex-direction: column;
}

.login {
    justify-content: space-between;
    label {
        color: #fff;
        text-align: center;
    }
    a {
        color: #555;
        text-align: center;
        text-decoration: none;
        font-size: 0.8rem;
    }
    .new-game-btn {
        margin: auto 0;
    }
}
.login-form {
    margin-top: auto;
    margin-bottom: 1rem;
}
